@model IEnumerable<GoReview.Models.Post>






<div class="mx-2 d-flex">

        <!------------- Post 1----------------- -->


        <div class="post-container">
        @foreach (var item in Model)
        {
            <div class="post-row">
                <div class="user-profile">
                    <img src="@item.User.ImageUser" alt="">
                    <div>
                        <p>@item.User.UserName</p>
                        <span>
                           @item.CreateDate
                        </span>
                        <span class="text-primary"> # @item.Category.Title</span>
                    </div>
                </div>        
            </div>

            <p class="post-text">
                @item.Content
            </p>
            <img src="@item.Picture" class="post-img" alt="">

            <div class="post-row">

                <div class="activity-icons">

                    <div><img src="/images/like-blue.png" alt=""> @item.NumLike</div>
                    <a href="/Posts/PostDetails/@item.PostId"> <img src="/images/comments.png" alt="">@item.NumComment</a>
                </div>
            </div>
            
            <hr />
         }
          </div>     
        
</div>

    <!--------------------------- right-sidebar ---------------------------------->

    <div class="right-sidebar">
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All</a>
        </div>

        <div class="event">
            <div class="left-event">
                <h3>25</h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h4>Social Media</h4>
                <p><i class="fa-solid fa-location-dot"></i> New Delhi</p>
                <a href="#">More Info</a>


            </div>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>29</h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h4> Technical Meet </h4>
                <p><i class="fa-solid fa-location-dot"></i> Noida, India</p>
                <a href="#">More Info</a>


            </div>
        </div>
        <div class="sidebar-title">
            <h4>Advertisement</h4>
            <a href="#">Close</a>
        </div>
        <img src="/images/advertisement.png" class="sidebar-ads" alt="">

        <div class="sidebar-title">
            <h4>Conversations</h4>
            <a href="#">Hide chat</a>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="/images/member-1.png" alt="">
            </div>
            <p>Alisha Lian</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-2.png" alt="">
            </div>
            <p>Jason Roy</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-3.png" alt="">
            </div>
            <p>Lilly Groff</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-4.png" alt="">
            </div>
            <p>Sam Billings</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-5.png" alt="">
            </div>
            <p>Jack Billy</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-6.png" alt="">
            </div>
            <p>Anne Marry</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-7.png" alt="">
            </div>
            <p>Adam</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-8.png" alt="">
            </div>
            <p>Marison</p>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/images/member-9.png" alt="">
            </div>
            <p>Joe Rider</p>
        </div>


    </div>