@model IEnumerable<GoReview.Models.Post>
@{
    var ImageUser = User.FindFirst("ImageUser")?.Value;
    bool isLogin = User.Identity.IsAuthenticated;
    bool isAdmin = User.FindFirst("UserRole")?.Value == "Administrator";
    var UserName = User.FindFirst("Name")?.Value;
}

<div id="searchResults">
    <!-- Kết quả tìm kiếm sẽ được hiển thị ở đây -->
</div>

<div class="d-flex flex-column container post-col">

        <!------------- Post 1----------------- -->
        @for(var i = Model.Count() - 1;  i >= 0; i--)
        {
            var post = Model.ElementAt(i);
            <div class="post-container" id="post_@post.PostId">

                <div class="post-row">
                    <div class="user-profile">
                        <img src="@Url.Content("/images/" + post.UserImage)" alt="">
                        <div>
                            <div class="fs-5 text">
                                <p>@post.UserPost
                                <span class="fs-6 text"> - @post.CategoryTitle</span></p>
                            </div>
                            <span>
                                @post.CreateDate
                            </span>
                        </div>
                    </div>
                </div>
                    
                <div>
                    <p class="post-title mt-2 fs-5">
                        @post.Title
                    </p>
                    <p class="post-text">
                        @post.Content
                    </p>
                </div>

                    <p class="inline" id="btnToggle">Xem thêm</p> 
                <img src="@Url.Content("~/image/" + post.Picture)" class="post-img" alt="">

                <div class="post-row">

                <div class="activity-icons post" data-postid="@post.PostId">
                    <div class="post" data-postid="@post.PostId">
                        <button id="btn-like">
                            @if (post.IsLiked)
                            {
                                <i class="fa-solid fa-heart fs-4 text-primary"></i>
                                @post.NumberOfLikes
                            }
                            else
                            {
                                <i class="fa-solid fa-heart fs-5 text"></i>
                                @post.NumberOfLikes
                            }

                        </button>
                    </div>
                        
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#Comment_@post.PostId" aria-expanded="false" aria-controls="collapseExample">
                            <img src="/images/comments.png" alt="">@post.NumberOfComment
                        </button>

                    </div>


                </div>
                <div class="collapse" id="Comment_@post.PostId">
                            
                    @for (var j = post.Feedbacks.Where(p => p.Comment != null).Count() - 1; j >= 0; j--)
                    {
                        var Comment = post.Feedbacks.ElementAt(j);
                        <div class="comment mb-3" style="margin-right: 20%">
                            <div class="row">
                                <div class="col-md-1 user-profile">
                                    <img src="@Url.Content("/images/" + Comment.UserImage)" class="" alt="...">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h5 class="card-title">@Comment.UserPost</h5>
                                        <p class="card-text">@Comment.Comment</p>
     
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    }
                    <div id="commentResult_@post.PostId"></div>
                @if (isLogin)
                {
                    <hr/>
                    <div class="comment mb-3" style="margin-right: 20%">
                        <div class="row">
                            <div class="col-md-1 user-profile">
                                <img src="@Url.Content("/images/" + post.UserImage)" class="" alt="...">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <form id="commentForm" class="d-flex">
                                        <input type="hidden" name="postId" value="@post.PostId" />
                                        <input class="form-control m-1" id="comment_@post.PostId" name="comment" rows="4" cols="40" required/>
                                        <button type="submit" class="btn btn-primary">Gửi bình luận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                }
                else
                {
                    <hr/>
                    <h2>
                        Đăng nhập để bình luận
                    </h2>  
                }

                </div>

            </div>
        }   
        
    </div>
    <!--------------------------- right-sidebar ---------------------------------->



    
