@model IEnumerable<GoReview.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class=" w3-table-all">
    <thead>
        <tr class="w3-light-grey">
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
