@{
    ViewData["Title"] = "Privacy Policy";
}
@model IEnumerable<GoReview.Models.Post>
<div class="profile-container">
    <img src="/images/cover.png" class="cover-img">


    <div class="profile-details">

        <div class="pd-left">
            <div class="pd-row">
                <img src="/images/profile-pic.png" class="pd-img" alt="">
                <div>
                    <h3>John Gray</h3>
                    <p>120 Friends - 20 mutual </p>
                    <img src="/images/member-1.png" alt="">
                    <img src="/images/member-2.png" alt="">
                    <img src="/images/member-3.png" alt="">
                    <img src="/images/member-4.png" alt="">

                </div>
            </div>
        </div>

        <div class="pd-right">

            <button type="button"><img src="/images/add-friends.png" alt=""> Friend</button>
            <button type="button"> <img src="/images/message.png" alt=""> Messege</button>
            <br>
            <a href="#"><img src="/images/more.png" alt=""></a>


        </div>


    </div>


    <div class="profile-info">
        <div class="info-col">

            <div class="profile-intro">
                <h3>Bio</h3>
                <p class="intro-text">
                    Beieve in yourself. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <img src="/images/feeling.png">
                </p>
                <hr>

                <ul>
                    <li> <img src="/images/profile-job.png" alt=""> Analyst at XYZ Technology Solutions </li>
                    <li> <img src="/images/profile-study.png" alt=""> Studied Computer Science at DTU</li>
                    <li> <img src="/images/profile-study.png" alt=""> Went to JNV Delhi -1st</li>
                    <li> <img src="/images/profile-home.png" alt=""> Lives in Bangalore, India</li>
                    <li> <img src="/images/profile-location.png" alt=""> From New Delhi, India</li>
                </ul>


            </div>

            <div class="profile-intro">

                <div class="title-box">
                    <h3>Photos</h3>
                    <a href="#">All Photos</a>

                </div>


                <div class="photo-box">
                    <div><img src="/images/photo1.png" alt=""></div>
                    <div><img src="/images/photo2.png" alt=""></div>
                    <div><img src="/images/photo3.png" alt=""></div>
                    <div><img src="/images/photo4.png" alt=""></div>
                    <div><img src="/images/photo5.png" alt=""></div>
                    <div><img src="/images/photo6.png" alt=""></div>
                </div>

            </div>


        </div>






        <div class="post-col">


            <!------------- Post 1----------------- -->
            @for(var i = Model.Count() - 1;  i>=0; i--)
            {
                var post = Model.ElementAt(i);
                <div class="post-container" id="post_@post.PostId">

                    <div class="post-row">
                        <div class="user-profile">
                            <img src="/images/member-1.png" alt="">
                            <div>
                                <div class="fs-5 text">
                                    <p>Alisha Lian
                                    <span class="fs-6 text"> - @post.CategoryTitle</span></p>
                                </div>
                                
                                <span>
                                    @post.CreateDate
                                </span>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <a class=" align-items-center border p-2 d-flex" asp-action="Edit" asp-controller="Posts" asp-route-id="@post.PostId">
                                <i class="fa-solid fa-pen text-primary"></i>Edit</a>
                            <button class=" align-items-center border p-2" id="deleteButton" onclick="handleDeletePost(@post.PostId)">
                                <i class="fa-solid fa-trash text-danger"></i>
                                Delete
                            </button>
                        </div>

                    </div>
                    
                    <div>
                        <p class="post-title mt-2 fs-5">
                            @post.Title
                        </p>
                        <p class="post-text">
                            @post.Content
                        </p>
                    </div>

                    @* <p class="inline" id="btnToggle">Xem thêm</p> *@
                    <img src="@Url.Content("~/image/" + post.Picture)" class="post-img" alt="">

                    <div class="post-row">

                        <div class="activity-icons">

                            <div>
                            @if(true){
                                <i class="fa-solid fa-heart fs-4 text-primary"></i>
                                @post.NumberOfLikes
                            }else{
                                <i class="fa-solid fa-heart fs-5 text"></i>
                            }
                                
                            </div>
                            <div> <img src="/images/comments.png" alt="">226</div>
                            <div><img src="/images/share.png" alt="">124</div>

                        </div>


                    </div>

                </div>
            }
            <button type="button" class="load-more-btn">Load More </button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Bạn có chắc chắn muốn xóa?</p>
                    <div class="modal-buttons">
                        <button class="confirm_button" id="confirmButton">Đồng ý</button>
                        <button class="confirm_button" id="cancelButton">Hủy bỏ</button>
                    </div>
                </div>
            </div>

        </div>
    </div>





</div>
